body {
    background: antiquewhite;
    font-family: Lato, serif;
    font-size: 1.2rem;
}

.main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    width: 100%;
    height: 100px;
    background-image: url("xmasslight.png");
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.countdown {
    width: 50vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.gift {
    height: 30vh;
}

.ready {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ready:hover {
    background: #3d9641;
}