body {
    font-family: Lato, serif;
    font-size: 1.2rem;
}

.main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

.countdown {
    width: 700px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.gift {
    height: 40vh;
}